.FormSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Rokkitt', serif;
}
.containerForm {
    position: relative;
    display: grid;
    place-items: center;
}
.containerForm .formIntro {
    background-color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    line-height: 1.5;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
}
.containerFormCircle {
    position: absolute;
    background: rgb(159,90,20);
    background: radial-gradient(circle, rgba(159,90,20,1) 0%, rgba(177,95,21,1) 50%, rgba(106,55,27,1) 100%);
    width: 900px;
    height: 900px;
    border-radius: 50%;
    z-index: -1;
}
.containerForm img {
    width: 100%;
    height: 100%;
    max-height: 70vh;
    object-fit: cover;
    object-position: center;
}
.container-text {
    padding: 10px 40px 10px 10px;
    max-width: 420px;
}
.container-text h2 {
    font-size: 1.2rem;
    color: #1a2250;
}
.container-text p {
    font-size: 14px;
    color: #3b4169;
    margin: 10px 0;
}
.container-text input, .container-text button {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 3px;
}
.container-text input {
    border: 2px solid #daddec;
    margin: 5px 0 10px;
    font-size: 1rem;
    color: #656880;
}
.container-text button {
    background-image: linear-gradient(to right, #89caff, #6589ff);
    display: block;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 20px #89caff94;
    transition: box-shadow 0.3s ease-in-out;
}
.container-text button:hover {
    box-shadow: none;
}
.container-text span {
    display: block;
    text-align: center;
    margin: 20px 0 0;
    color: #babdcb;
    font-size: 12px;
}